body {
    background: url("http://wallpaper.zone/img/4239316.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#faq {
float: right;
    color: white;
    font-size: 20px;
    margin-right: 15px;
}

#choose-under {
    color: lightcoral;
    margin-bottom: -125px;
    font-size:35px;
    margin-left: 35px;
    font-family: 'Tulpen One', cursive;
    font-weight: 800;
}

#main-title {
    font-family: 'Jura', sans-serif;
    font-weight: 100;
    color: antiquewhite;
    font-size: 50px;
    margin-left: 5px;
}

nav {
    margin-top: -32px;
}

span {
    color: lightcoral;
}

#buttons {
    margin-top: 300px;
    text-align: center;
}

.waves-effect {
    width 700px;
}

a#button-1: {
    background-color: red;
}

#user {
    text-align: center;
    color: lightcoral;
    font-size: 20px;
}

#choose {
    text-align: left;
    color: antiquewhite;
    font-family: 'Nixie One', cursive;
    font-weight: 100;
    font-size: 70px;
    margin-left: 30px;
    margin-bottom: -20px;
}